<svg id="<%= svg_id(@chart, "xlabels") %>" class="chart-x-labels" width="90%" height="8%" y="92%" x="1%" style="overflow: visible;" offset="0" viewBox="0 0 100% 100%">
  <%= for grid_line <- @grid_lines do %>
    <foreignObject x="<%= @offsetter.(grid_line) %>%" y="10%" height="100%" width="20%" style="overflow: visible;">
      <p xmlns="http://www.w3.org/1999/xhtml" title="<%= grid_line %>" style="font-size: 9px; text-align: center;"><%= grid_line %></p>
    </foreignObject>
  <% end %>
</svg>
