<g id="<%= svg_id(@chart, "lines") %>" class="columns__lines">
  <%= for %Line{start: %{x_offset: x1, y_offset: y1}, end: %{x_offset: x2, y_offset: y2}} <- angular_to_cartesian_gridlines(@grid_lines, @chart.dataset.axes.r.max) do %>
    <line x1="<%= x1 %>" y1="<%= y1 %>" x2="<%= x2 %>" y2="<%= y2 %>" stroke="#efefef" stroke-width="0.2px" stroke-linecap="round" />
  <% end %>
</g>
