<svg id="<%= svg_id(@chart, "xlabels") %>" class="chart-x-labels" width="90.5%" height="8%" y="92%" x="9.5%">
  <%= for %Column{label: label, width: width, offset: offset} <- @columns do %>
    <foreignObject y="20%" x="<%= offset %>%" width="<%= width %>%" height="100%"  overflow="visible">
      <p xmlns="http://www.w3.org/1999/xhtml" style="font-size:9px; text-align: center;">
        <%= label %>
      </p>
    </foreignObject>
  <% end %>
</svg>
